*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'goth';
  color: white;
}

@font-face {
  font-family: 'goth';
  src: url('./CloisterBlack.ttf');
}

body{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  background-image: url('./assets/backgroung.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
}

.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  transition: transform 0.2s ease-out 0s;
  font-size: 25px;
}

.card:hover{
  transform: scale(1.1);
}

.img-box{
  background-size: cover;
  background-repeat: no-repeat;
  width: 240px;
  height: 230px;
  margin-bottom: 5px;
}

/*@media (max-width: 1506px) {
  .img-box{
    width: 152px;
    height: 152px;
  }
}*/

@media (max-width: 500px) {
  .img-box{
    width: 120px;
    height: 120px;
  }
}

.header{
  display: flex;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.6);
  margin-bottom: 15px;
  padding: 10px;
}

.score{
  font-size: 26px;
}

.foot{
  display: flex;
  background-color: rgba(0, 0, 0, 0.6);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-size: 25px;
}
